<?xml version='1.0' encoding='UTF-8'?>
<hudson>
  <disabledAdministrativeMonitors>
    <string>OldData</string>
  </disabledAdministrativeMonitors>
  <version>2.32.1</version>
  <numExecutors>2</numExecutors>
  <mode>NORMAL</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="com.michelin.cio.hudson.plugins.rolestrategy.RoleBasedAuthorizationStrategy">
    <roleMap type="globalRoles">
      <role name="Anonymous" pattern=".*">
        <permissions>
          <permission>hudson.model.Hudson.Read</permission>
        </permissions>
        <assignedSIDs>
          <sid>anonymous</sid>
        </assignedSIDs>
      </role>
      <role name="account" pattern=".*">
        <permissions>
          <permission>hudson.model.Hudson.Read</permission>
        </permissions>
        <assignedSIDs/>
      </role>
      <role name="admin" pattern=".*">
        <permissions>
          <permission>hudson.scm.SCM.Tag</permission>
          <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete</permission>
          <permission>hudson.model.View.Delete</permission>
          <permission>hudson.model.Computer.Disconnect</permission>
          <permission>hudson.model.Computer.Configure</permission>
          <permission>hudson.model.Run.Replay</permission>
          <permission>hudson.model.Item.Configure</permission>
          <permission>hudson.model.Item.Workspace</permission>
          <permission>hudson.model.View.Create</permission>
          <permission>hudson.model.Run.Delete</permission>
          <permission>hudson.model.View.Read</permission>
          <permission>hudson.model.Computer.Provision</permission>
          <permission>hudson.model.Hudson.UploadPlugins</permission>
          <permission>hudson.model.Computer.Connect</permission>
          <permission>hudson.model.Item.Discover</permission>
          <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View</permission>
          <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create</permission>
          <permission>hudson.model.Hudson.Read</permission>
          <permission>hudson.model.Item.Delete</permission>
          <permission>org.jenkins.plugins.lockableresources.LockableResourcesManager.Reserve</permission>
          <permission>hudson.model.View.Configure</permission>
          <permission>hudson.model.Hudson.ConfigureUpdateCenter</permission>
          <permission>hudson.model.Item.Move</permission>
          <permission>hudson.model.Item.Read</permission>
          <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains</permission>
          <permission>hudson.model.Hudson.Administer</permission>
          <permission>hudson.model.Computer.Delete</permission>
          <permission>hudson.model.Hudson.RunScripts</permission>
          <permission>hudson.model.Computer.Create</permission>
          <permission>hudson.model.Item.Create</permission>
          <permission>hudson.model.Item.Build</permission>
          <permission>hudson.model.Computer.Build</permission>
          <permission>hudson.model.Item.Cancel</permission>
          <permission>org.jenkins.plugins.lockableresources.LockableResourcesManager.Unlock</permission>
          <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update</permission>
          <permission>hudson.model.Run.Update</permission>
        </permissions>
        <assignedSIDs>
          <sid>svpineo</sid>
        </assignedSIDs>
      </role>
      <role name="appadmin" pattern=".*">
        <permissions>
          <permission>hudson.model.Item.Read</permission>
          <permission>hudson.model.Item.Discover</permission>
          <permission>hudson.model.Item.Build</permission>
          <permission>hudson.model.Hudson.Read</permission>
          <permission>hudson.model.Item.Workspace</permission>
        </permissions>
        <assignedSIDs>
          <sid>appadmin</sid>
        </assignedSIDs>
      </role>
      <role name="svpineo" pattern=".*">
        <permissions>
          <permission>hudson.scm.SCM.Tag</permission>
          <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete</permission>
          <permission>hudson.model.View.Delete</permission>
          <permission>hudson.model.Computer.Disconnect</permission>
          <permission>hudson.model.Computer.Configure</permission>
          <permission>hudson.model.Run.Replay</permission>
          <permission>hudson.model.Item.Configure</permission>
          <permission>hudson.model.Item.Workspace</permission>
          <permission>hudson.model.View.Create</permission>
          <permission>hudson.model.Run.Delete</permission>
          <permission>hudson.model.View.Read</permission>
          <permission>hudson.model.Computer.Provision</permission>
          <permission>hudson.model.Hudson.UploadPlugins</permission>
          <permission>hudson.model.Computer.Connect</permission>
          <permission>hudson.model.Item.Discover</permission>
          <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View</permission>
          <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create</permission>
          <permission>hudson.model.Hudson.Read</permission>
          <permission>hudson.model.Item.Delete</permission>
          <permission>org.jenkins.plugins.lockableresources.LockableResourcesManager.Reserve</permission>
          <permission>hudson.model.View.Configure</permission>
          <permission>hudson.model.Hudson.ConfigureUpdateCenter</permission>
          <permission>hudson.model.Item.Move</permission>
          <permission>hudson.model.Item.Read</permission>
          <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains</permission>
          <permission>hudson.model.Hudson.Administer</permission>
          <permission>hudson.model.Computer.Delete</permission>
          <permission>hudson.model.Hudson.RunScripts</permission>
          <permission>hudson.model.Computer.Create</permission>
          <permission>hudson.model.Item.Create</permission>
          <permission>hudson.model.Item.Build</permission>
          <permission>hudson.model.Computer.Build</permission>
          <permission>hudson.model.Item.Cancel</permission>
          <permission>org.jenkins.plugins.lockableresources.LockableResourcesManager.Unlock</permission>
          <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update</permission>
          <permission>hudson.model.Run.Update</permission>
        </permissions>
        <assignedSIDs/>
      </role>
    </roleMap>
    <roleMap type="projectRoles">
      <role name="AccountReq" pattern="AccountRequest">
        <permissions>
          <permission>hudson.model.Item.Read</permission>
          <permission>hudson.model.Item.Build</permission>
        </permissions>
        <assignedSIDs>
          <sid>anonymous</sid>
        </assignedSIDs>
      </role>
    </roleMap>
  </authorizationStrategy>
  <securityRealm class="hudson.security.HudsonPrivateSecurityRealm">
    <disableSignup>true</disableSignup>
    <enableCaptcha>false</enableCaptcha>
  </securityRealm>
  <disableRememberMe>false</disableRememberMe>
  <projectNamingStrategy class="jenkins.model.ProjectNamingStrategy$DefaultProjectNamingStrategy"/>
  <workspaceDir>${JENKINS_HOME}/workspace/${ITEM_FULLNAME}</workspaceDir>
  <buildsDir>${ITEM_ROOTDIR}/builds</buildsDir>
  <markupFormatter class="hudson.markup.RawHtmlMarkupFormatter" plugin="antisamy-markup-formatter@1.5">
    <disableSyntaxHighlighting>false</disableSyntaxHighlighting>
  </markupFormatter>
  <jdks/>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds/>
  <quietPeriod>5</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>All</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
    </hudson.model.AllView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>Pipelines</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
        <string>MultiBranchPipeline</string>
        <string>MultiBranchPipelineDefaults</string>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
      </columns>
      <recurse>false</recurse>
    </listView>
  </views>
  <primaryView>All</primaryView>
  <slaveAgentPort>-1</slaveAgentPort>
  <label></label>
  <crumbIssuer class="hudson.security.csrf.DefaultCrumbIssuer">
    <excludeClientIPFromCrumb>false</excludeClientIPFromCrumb>
  </crumbIssuer>
  <nodeProperties/>
  <globalNodeProperties/>
</hudson>